body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: 6A21FA;
}

h1 {
    font-size: 3rem;
    background-color: 6A21FA;
}